.card-header{
    background-color: #38003c;  
  }
  .row{
    margin-top: 50px;
  }
  .fa-check-circle{
    color: green;
  }
  .fa-times-circle {
    color: red;
  }
  .errors {
    margin-top: 10px;
  }