<app-loading-spinner *ngIf="showLoading"></app-loading-spinner>
<div class="card" *ngIf="send?.length > 0">
  <div class="card-header">
    <h4 style="color: #fff">Send Money</h4>
  </div>
  <div class="card-body">
      <table class="table table-bordered table-striped">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Sender Name</th>
              <th>Sender Mobile</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tran of send">
              <th>1</th>
              <td>{{tran.receiverName}}</td>
              <td>{{tran.receiverEmail}}</td>
              <td>{{tran.amount | currency}}</td>
              <td>{{tran.date | date}}</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
<div class="alert alert-info" *ngIf="send?.length == 0">
  You have not  send money to  any one
</div>
<div class="card">
  <div class="card-body">
    {{send | json}}
  </div>
</div>