<app-loading-spinner *ngIf="showLoading"></app-loading-spinner>
<div class="card" *ngIf="receive?.length > 0">
  <div class="card-header">
    <h4 style="color:#fff">Received Money</h4>
  </div>
  <div class="card-body">
      <table class="table table-bordered table-stripped">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Sender Name</th>
              <th>Sender Mobile</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tran of receive">
              <th>1</th>
              <td>{{tran.senderName}}</td>
              <td>{{tran.senderMobile}}</td>
              <td>{{tran.amount |currency}}</td>
              <td>{{tran.date |date}}</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
<div class="alert alert-info" *ngIf="receive?.length == 0">
  You have not received any Money
</div>