<div class="row"id="">        
    <div class="col-lg-8 col-md-10 mx-auto">
        <flash-messages></flash-messages>
        <div class="card">
            <div class="card-header">
               <h4 style="color:#fff">Login</h4>
            </div>
            <div class="card-body">            
                <form 
                [formGroup]="loginForm" class="form">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input formControlName="email" type="text" class="form-control" placeholder="Enter  Email address">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input formControlName="password" type="password" class="form-control" placeholder="Enter password">
                        </div>
                    </div>
                    <div class="form-group">
                        <button  [disabled]="!loginForm.valid" (click)="onlogin()" class="btn btn-primary card-link">Login</button>
                    </div>
                    <div class="form-group">
                        <a [routerLink]="['/register']" class="btn btn-infor card-link"> Create Account</a>
                    </div>
                 </form>
            </div> <!--end card body-->
        </div>  <!--end card-->
    </div>
</div>